
body {
    font-family: Arial;
    color: #333333;
    background-image: url("images/background.jpeg");
    padding: 40px;
}

section,
header {
    padding: 10px 60px 20px 60px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

span {
    color: grey;
}

p {
    line-height: 1.5;
}

ul li {
    margin-bottom: 20px;
}


h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
}

h3 {
    margin-top: 5px;
}


img {
    width: 180px;
    height: 180px;
}

.container {
    box-shadow: 0 0 20px grey;
    width: 960px;
    margin: 0 auto;
    background-color: white;
    border-radius: 40px;

}


header ul {
    list-style: none;
    padding: 0;
    font-style: normal;
    list-style: none;
    width: 250px;
}

.header-center-element { // filipszydłak etc
    flex-grow: 1;
    margin-left: 20px;
}

.inline{
    margin-top: 40px;
    display: inline-block;
}

.address-line-item {
    font-size: 16px;
    margin-bottom: 15px;
}

.address-line-item-icon {
    width: 16px;
    height: 16px;
    background-color: cornflowerblue;
    margin-right: 10px;
    padding: 4px;
    vertical-align: middle;

}

.circle {
    border-radius: 50px;
}

.profile-picture {
    width: 180px;
    height: 180px;
}

.hobby-icon {
    width: 36px;
    height: 36px;
}

.hobbies {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

}

.hobbies li {
    width: 50%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}

.hobbies div {
    margin-left: 20px
}

.hobbies p {
    color: grey;
}

.cv-download-link {
    border: 2px solid cornflowerblue;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 26px;
    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0 0 20px grey;
}

.cv-download-link:hover {
    color: white;
    background-color: cornflowerblue;
}

.cv-download-link:focus {
    outline: none;
    color: white;
    background-color: cornflowerblue;
}

.cv-download-link:active {
    text-decoration: underline;
}


.github-download-link {
    border: 2px solid cornflowerblue;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0 0 20px grey;
}

.github-download-link:hover {
    color: white;
    background-color: cornflowerblue;
}

.github-download-link:focus {
    outline: none;
    color: white;
    background-color: cornflowerblue;
}

.github-download-link:active {
    text-decoration: underline;
}

.footer{
    text-align: center;
    color: azure;
}